[submodule "CameraOperator"]
	path = CameraOperator
	url = https://github.com/cine-capture/CameraOperator.git
[submodule "UnityRuntimeCameraRecorder"]
	path = UnityRuntimeCameraRecorder
	url = https://github.com/cine-capture/UnityRuntimeCameraRecorder.git
